header.container {
  padding-top: 36px;
  padding-bottom: 30px;
}

/* text */
h1 {
  font-family: 'Playfair Display', serif;
  color: #323949;
  font-size: 9rem;
  text-align: center;
  font-style: italic;
  font-weight: bold;
  line-height: 1.1;
  margin: 30px auto;
}

em {
  color: #FA960A;
  font-style: italic;
}

p {
  margin: 0px;
  text-align: center;
  font-size: 1.6rem;
  color: #323949;
}

h2, h3, h4 {
  margin: 0px;
  text-transform: none;
  letter-spacing: 0;
  text-align: center;
}

h2 {
  font-size: 3rem;
  font-weight: bold;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 1.6rem;
}

/* voting section */
section#vote {
  background-color: #323949;
  padding: 10px;
}

div.row.heading-dark{
  padding: 16px;
}

.heading-dark h2, .heading-dark p {
  color: white;
  padding-bottom: 3px;
}

div#versus p{
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 9rem;
  color: #FA960A;
  font-style: italic;
  padding-top: 100px;
  line-height: 1;
  white-space: normal;
  word-break: break-all;
} 

/* button styles */
button {
  height: 420px;
  padding: 12px;
  white-space: normal;
  background-color: #EEE;
  vertical-align: middle;
  transition: all 0.1s;
  border-radius: 12px;
  position: relative;
}

button h3, button h4 {
  color: #323949;
  font-weight: 600;
}

button p {
  color: #FA960A;
  line-height: 1;
  font-size: 2.4rem;
  text-transform: none;
  letter-spacing: 0;
  line-height: 1.2;
  margin: 0px;
  font-weight: 600;
}

button img {
  margin: 12px auto;
  max-width: 300px;
}

/* button behaviors */
button:hover {
  background-color: white;
  box-shadow: 0px 4px #1D1D1D;
}

button:active {
  background-color: #EEE;
  top: 2px;
  box-shadow: 0px 0px #1D1D1D;
}
